@using ModelChecker.WEB.Models

@model CheckViewModel


@{
    string labelclass = "control-label col-md-8  font-weight-bold ";
    string editorclass = "col-md-12";
}

@using (Ajax.BeginForm("UpdateCheck", null
        , new AjaxOptions() { UpdateTargetId = "rightdialog", HttpMethod = "Post", LoadingElementId = "locloading" }
        , new { Id = "SubmitForm" }))
{

    <input name="Id" value="@Model.Id" class="d-none" />

    <div class="form-group  ">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = labelclass })
        <div class="@editorclass">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
}


@_Controls.SaveCancelButtons()